<!DOCTYPE html>
<html>
    <title>Perhitungan TOPSIS</title>
<body>

    <button id="btn1" onclick="calculate1()">Matriks Pembagi</button>
    <button id="btn2" onclick="calculate2()" disabled>Normalisasi Tabel</button>
    <button id="btn3" onclick="calculate3()" disabled>Matriks Ternormalisasi</button>
    <button id="btn4" onclick="calculate4()" disabled>Solusi Alternatif</button>
    <button id="btn5" onclick="calculate5()" disabled>Jarak Alternatif</button>
    <button id="btn6" onclick="calculate6()" disabled>Nilai Preferensi</button>
    <button id="btn7" onclick="calculate7()" disabled>Ranking dan Hasil Akhir Perhitungan</button>

<h2>Nilai Matriks Pembagi</h2>
<div id="result"></div>

<h2>Normalisasi Tabel</h2>
<div id="normalisasi"></div>

<h2>Matriks Ternormalisasi</h2>
<div id="terbobot"></div>

<h2>Solusi Alternatif</h2>
<button id="btn8" onclick="calculate8()" disabled>Solusi Negatif</button>
<button id="btn9" onclick="calculate9()" disabled>Solusi Positif</button>
<br><div id="minusSolution"></div>
<br><div id="plusSolution"></div>

<h2>Jarak Alternatif</h2>
<button id="btn10" onclick="calculate10()" disabled>Jarak Alternatif Negatif</button>
<button id="btn11" onclick="calculate11()" disabled>Jarak Alternatif Positif</button>
<br><div id="minAlternatif"></div>
<br><div id="plusAlternatif"></div>

<h2>Nilai Preferensi</h2>
<div id="preferensi"></div>

<h2>Ranking Preferensi</h2>
<div id="rank"></div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
function enableButton(btnId) {
    document.getElementById(btnId).disabled = false;
}

function calculate1() {
    $.ajax({
        url: '/topsis/pembagi',
        method: 'POST',
        success: function(matrik_pembagi) {
            $('#result').html(matrik_pembagi);
            enableButton('btn2');
        }
    });
}

function calculate2() {
    $.ajax({
        url: '/topsis/normalisasi',
        method: 'POST',
        success: function(normalisasi) {
            $('#normalisasi').html(normalisasi);
            enableButton('btn3');
        }
    });
}

function calculate3() {
    $.ajax({
        url: '/topsis/ternormalisasi',
        method: 'POST',
        success: function(terbobot) {
            $('#terbobot').html(terbobot);
            enableButton('btn4');
        }
    });
}

function calculate4() {
    $.ajax({
        success: function calculate4() {
            $('#minusSolution').html(minusSolution);
            enableButton('btn8');
            enableButton('btn9');
        }
    });
}

function calculate5() {
    $.ajax({
        success: function calculate4() {
            $('#minAlternatif').html(minAlternatif);
            enableButton('btn10');
            enableButton('btn11');
        }
    });
}

function calculate6() {
    $.ajax({
        url: '/topsis/preferensi',
        method: 'POST',
        success: function(preferensi) {
            $('#preferensi').html(preferensi);
            enableButton('btn7');
        }
    });
}

function calculate7() {
    $.ajax({
        url: '/topsis/rank',
        method: 'POST',
        success: function(rank) {
            $('#rank').html(rank);
            enableButton('btn7');
        }
    });
}

function calculate8() {
    $.ajax({
        url: '/topsis/solusi/minus',
        method: 'POST',
        success: function(minusSolution) {
            $('#minusSolution').html(minusSolution);
            enableButton('btn5');
        }
    });
}

function calculate9() {
    $.ajax({
        url: '/topsis/solusi/plus',
        method: 'POST',
        success: function(plusSolution) {
            $('#plusSolution').html(plusSolution);
            enableButton('btn5');
        }
    });
}

function calculate10() {
    $.ajax({
        url: '/topsis/jarak/minus',
        method: 'POST',
        success: function(minAlternatif) {
            $('#minAlternatif').html(minAlternatif);
            enableButton('btn6');
        }
    });
}

function calculate11() {
    $.ajax({
        url: '/topsis/jarak/plus',
        method: 'POST',
        success: function(plusAlternatif) {
            $('#plusAlternatif').html(plusAlternatif);
            enableButton('btn6');
        }
    });
}


</script>

</body>
</html>
